/* =========== Common styles =============*/
h1,h2,h3,h4,h5,h6,p {
    margin-top: 0;
    margin-bottom: 0;
}
ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}
button {
    cursor: pointer;
}
img {
    display: block;
}
body {
    font-family: "Roboto", sans-serif; 
    color: #434455;
    background: #FFFFFF;
}
.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.section-paddings {
    padding-top: 120px;
    padding-bottom: 120px;
}

/* =========== Page header styles =============*/

.page-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 24px;
}
.address {
    display: flex;
    justify-content: space-between;
}

.page-logo {
    font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}
.logo-studio {
    color: #2e2f42;
}
.page-header-container {
    display: flex;
    justify-content: space-between;
}
.menu {
    display: flex;
    column-gap: 24px;
}
.address-list {
    display: flex;
    
    column-gap: 24px;
}
.menu-link {
    display: block;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
padding-top: 24px;
padding-bottom: 24px;
}
.menu-link:hover,
.menu-link:focus {
    color: #404bbf;
}
.address {
    font-style: normal;
}
.address-link {
    display: block;
    font-family: "Roboto", sans-serif;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
font-style: normal;
padding-top: 24px;
padding-bottom: 24px;
}
.address-link:hover,
.address-link:focus {
    color: #404bbf;
}

/* =========== /Page header styles =============*/
/* =========== Hero section styles =============*/
.hero {
    background: #2e2f42;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
.hero-container {
    padding-top: 381px;
    padding-bottom: 40px;
    padding-left: 56px;
    padding-right: 56px;
}
.hero-text {
    max-width: 500px;
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
color: #fff;
margin-bottom: 32px;
}

.button {
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
border: none;
border-radius: 4px;
background: #4d5ae5;
}
.button:hover,
.button:focus {
    background: #404bbf;
}

/* =========== /Hero section styles =============*/
/* =========== our-benefits section styles =============*/
.our-benefits-img-list {
    display: flex;
    column-gap: 24px;
} 

.our-benefits-text {
    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 50px;
    }
.our-benefits-list {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.benefits-list {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.our-list {
    background-color: #ffffff;
}
/* =========== /our-benefits section styles =============*/
/* =========== our-team section styles =============*/

.our-team {
    background-color: #F4F4FD
}
.our-team-text {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
margin-bottom: 50px;

}
.our-team-img{
    background-color: #FFFFFF;
    display: flex;
    column-gap: 24px;
}


.our-team-name {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;

}
.our-team-profession {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.our-team-img-list {
    width: calc((100% - 72px) / 4 );
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
padding: 0px 0px 32px 0px;
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
/* =========== /our-team section styles =============*/
/* =========== Portfolio section styles =============*/
.img-portfolio-container {
    width: 1128px;
height: 1000px;

}
.portfolio-img-list {
    display: flex;
   column-gap: 24px;
    flex-wrap: wrap;
}

.our-portfolio {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;  
}
.our-portfolio-list {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.portfolio-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.img-portfolio {
    
   
}

/* =========== /Portfolio section styles =============*/
/* =========== footer section styles =============*/
.footer {
background: #2e2f42;
}
.footer-logo {
    font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}
.footer-logo-stidio {
    color: #f4f4fd;
}
.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}
/* =========== /footer section styles =============*/
